
    body{
        display:flex;
        background: #F3F3F3;
        background-size: cover;
        margin: 0px;
        padding: 150px;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'Inter';
        justify-content: center;
        align-items: center;
    }
    .container{
        text-align:center;
        align-items:center;
        background: white;
        width: 500px;
        height: 200px;
        margin-top:60px;
        border-radius:20px;
        text-align: left;
        padding: 20px;
    }
    form{
      
        text-align:center;
    }
    .alert-berhasil{
        text-align:center;
        color:#00AA01;
        font-weight:600;
    }
    .form-control{
        margin-top:30px;
        width:300px;
        height: 40px;
    }
    .container h2{
        padding: 0px;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    .row{
        margin-top:50px;
        text-decoration: none;
        list-style: none;
    }
    .form-control button {
        
        margin-top:20px;
        display: flex;
        justify-content: center;
    }
    .button {
        background:none;
        width: 50%;
        height: 40px;
        border-radius: 15px;
        text-align: center;
    }
    .button:hover{
        border:none;
        color:white;
        background: #00AA01;
    }
