*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #F3F3F3;
    font-family: Inter;
}
.content{
    display: none;
    height: 200px;
}

@media (max-width: 768px){
    .content{
        display: block;
    }
    .Badan{
        width: 100%;
    }

    /*      Navigasi Atas       */
    *{
        .NavigasiMenuHeadAtas{
            color: black;
            background-color: white;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            position: relative;
            width: 100%;
            height: 70px;
        }
        .NavigasiMenu{
            padding-left: 26px;
            padding-right: 30px;
            padding-top: 20px;
            position: relative;
            display: flex;
        }
        /*      Logo        */
        .LogoNavigasiMenuAtas{
            width: 10%;
            font-weight: 300;
            margin-top: 6px;
            font-size: 9px;
            margin-right: 15px;
            margin-left: 0px;
        }
        .LogoNavigasiMenuAtas h1{
            font-weight: 500;
        }
    }

    /*      Menu Pencarian      */
    *{
    .PencarianDisplay{
        width: 100%;
        display: block;
        overflow-y: auto;
        height: 940px;
    }
    .PencarianDisplay a{
        text-decoration: none;
        list-style: none;
    }
    .PencarianDisplayFrame{
        position: sticky;
        top: 0;
        width: 100%;
        height: 80px;
        background: white;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
        align-items: center;
        text-align: left;
        color: black;
        font-size: 12px;
        display: flex;
        text-decoration: none;
    }
    .MenuPencarianIcon{
        width: 20%;
    }
    }

     /*      MobileNavigasi      */
    *{
        .MobileNavigasiBox{
            background-color: white;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 4rem;
            position: fixed;
            bottom: 0;
        }
        .MobileNavigasiBoxIcon{
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 20px;
        }
    }
}